<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="{{page.author}}">
    <meta name="keywords" content="{{evolution.keywords}}">
    <meta name="{{evolution.name}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{page.favicon}}" type="image/png" sizes="16x16">
    <title>{{evolution.title}}</title>
    {{> partials/head}}
  </head>

  <body>
    <div class="page-wrapper theme-help">
      {{> partials/navigation}}
      <div class="container bg-white">
        <div class="row py-7">
          <div class="col-lg-7 col-12 pb-lg-0 pb-6 pr-lg-4 pr-0">
            <h1 class="project__title text-primary mb-2">CMS Migration</h1>
            <span class="h4 font-weight-light text-primary d-block mb-2">Prudential + Deloitte</span>
            <span class="text-lg font-weight-bold d-block mb-5">June 2022 - Present</span>
            <p class="text-lg">This page is still under development. Please go check out the <a href="./evolution.html">Evolution Design System</a> project.</p>
          </div>
        </div>
      </div>
      <div class="container bg-white position-relative">
        <div class="bg-lines">
          <div class="line line-primary line-top line-left"></div>
          <div class="line line-primary line-top line-center"></div>
          <div class="line line-primary line-top line-right"></div>
        </div>
        <div class="row py-7">
          <div class="col d-flex align-items-cetner justify-content-center">
            <svg class="text-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.55 62.78" style="background-color: #fff;">
              <path id="text-circle" fill="none" d="M.13 62.78a62.64 62.64 0 1 1 125.29 0"/>
              <text aria-hidden="true" dx="-6">
                <textPath href="#text-circle">Other Projects</textPath>
              </text>
            </svg>
            <h2 class="sr-only">Other Projects</h2>
          </div>
        </div>
        <div class="row pb-6">
          <div class="col-md-5 col-12 pb-6 pb-md-0">
            {{> partials/project-card-evolution}}
          </div>
          <div class="col-md-5 offset-md-2 offset-0 col-12">
            {{> partials/project-card-cluster}}
          </div>
        </div>
      </div>
      {{> partials/footer}}
    </div>
    {{> partials/scripts}}
    <script src="./project-detail.js"></script>
    <script src="./cms-migration.js"></script>
  </body>
</html>