<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="{{page.author}}">
    <meta name="keywords" content="{{evolution.keywords}}">
    <meta name="{{evolution.name}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{page.favicon}}" type="image/png" sizes="16x16">
    <title>{{evolution.title}}</title>
    {{> partials/head}}
  </head>

  <body>
    <div class="page-wrapper theme-prudential">
      {{> partials/navigation}}
      <div class="container bg-white">
        <div class="row py-7">
          <div class="col-lg-7 col-12 pb-lg-0 pb-6 pr-lg-4 pr-0">
            <h1 class="project__title text-primary mb-2">Evolution Design System</h1>
            <span class="h4 font-weight-light text-primary d-block mb-2">Prudential</span>
            <span class="text-lg font-weight-bold d-block mb-5">Sep. 2020 - Present</span>
            <p class="text-lg mb-4">Building a new company-wide design system from the ground up. Leading the digital “evolution” of a 140 year old company to redefine its standing in the financial services industry.</p>
            <a class="btn-pill-lg d-inline-block" href="https://www.prudential.com" target="blank">View project</a>
          </div>
          <div class="col-lg-5 col-12">
            <div class="project__info-box">
              <div class="project__info-box__detail pb-3 d-flex flex-column">
                <span class="detail-title mb-1">My Role</span>
                <span class="detail-item">UI Development</span>
              </div>
              <div class="d-flex flex-sm-row flex-column">
                <div class="project__info-box__detail mb-3 mb-sm-0 mr-0 mr-3">
                  <span class="detail-title mb-1">Toolkit / Approach</span>
                  <ul class="list-unstyled">
                    <li class="detail-item">Atomic design</li>
                    <li class="detail-item">W3C Web Components</li>
                    <li class="detail-item">CSS style library creation</li>
                    <li class="detail-item">Storybook</li>
                    <li class="detail-item">Design system documentation</li>
                  </ul>
                </div>
                <div class="project__info-box__detail">
                  <span class="detail-title mb-1">Team</span>
                  <ul class="list-unstyled">
                    <li class="detail-item">Chris Alexander</li>
                    <li class="detail-item">Andrei Ivanov</li>
                    <li class="detail-item">Ashish Soman</li>
                    <li class="detail-item">Joon Yi</li>
                    <li class="detail-item">Antonio James</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container bg-gray-light">
        <div class="row pt-6 pb-6">
          <div class="col d-flex align-items-center justify-content-center">
            <img class="project__img" alt="Layout of buttons, cards, typography, colors for new design system" src="./assets/evolution-header.jpg" loading="lazy">
          </div>
        </div>
      </div>
      <div class="container bg-white">
        <div class="row py-6 gx-md-lg gx-md">
          <div class="col-2 d-md-block d-none">
            <ul class="project__tracker list-unstyled">
              <li class="tracker-step"><a href="#background">Background</a></li>
              <li class="tracker-step"><a href="#process">Process</a></li>
              <li class="tracker-step"><a href="#key-deliverables">Key Deliverables</a></li>
              <li class="tracker-step"><a href="#takeaways">Takeaways</a></li>
            </ul>
          </div>
          <div class="col-md-8 col-12">
            <div class="project__section">
              <h2 class="project__anchor text-primary" id="background">Background</h2>
              <p>Prudential is undergoing a digital transformation to become a customer-obsessed company, but a lack of a consistant design language had lead their digital experiences to become stale and disconected from each other.</p>
              <p>The lack of a design system across the company had also lead to increased time to market, as most projects required custom design and development work.</p>
              <h3 class="h4 font-weight-bold mt-content text-primary font-open-sans">Problem</h3>
              <ul>
                <li>Lack of consistancy in design across platforms</li>
                <li>Extended timelines for design and development due to creating custom components for each project</li>
                <li>Rigidity of previous design language leads to stale and problematic user experiences</li>
              </ul>
              <figure class="project__img-wrapper">
                <picture>
                  <source srcset="./assets/evolution-old-home.jpg" media="(min-width: 992px)">
                  <img class="project__img project__img-bordered" src="./assets/evolution-old-home-mobile.jpg" alt="Previous Prudential.com homepage" loading="lazy">
                </picture>
                <figcaption class="text-sm">Previous Prudential.com homepage</figcaption>
              </figure>
              <h3 class="h4 font-weight-bold mt-content text-primary font-open-sans">Goal</h3>
              <p>Create a global design system that...</p>
              <ul>
                <li>Establishes design consistancy</li>
                <li>Improves the efficiency of the design and development process</li>
                <li>Re-energizes the brand image through world-class user experiences</li>
              </ul>
              <h3 class="h4 font-weight-bold mt-content text-primary font-open-sans">Constraints</h3>
              <ul>
                <li>Limited resources with only a team of 6 people including 3 designers and 3 developers</li>
                <li>Limited creative freedom due to implementing previous mockups from an outside agency</li>
                <li>Required to support over 10 development teams across multiple front-end frameworks</li>
              </ul>
            </div>
            <div class="project__section">
              <h2 class="project__anchor text-primary" id="process">Process</h2>
              <h3 class="h4 font-weight-bold font-open-sans text-primary">Discovery</h3>
              <h4 class="h5 font-weight-bold font-open-sans">Competitor Analysis</h4>
              <p>I conducted a competitor analysis, to see how other companies were establishing, and documenting their design systems. I researched design systems at companies like IBM, Spotify, and Uber.</p>
              <p> I saw that <span class="highlight-pru">comprehensive documentation</span>, and <span class="highlight-pru">ease of adoption</span> were just as important as design in the success of a design system at a large institution.</p>
              <h4 class="h5 font-weight-bold font-open-sans mt-content">Design and Development Process Review</h4>
              <p>Using my previous experience working with both design and development, I collected information on the current hurdles in both phases of product development. The issues found fell into several common areas.</p>
              <ul>
                <li><span class="highlight-pru">Lack of a common design library</span> lead to extra work required to create new design and development components for each new project</li>
                <li>Documentation on design practices was missing a central place where it could be shared, leading to inconsistencies in experiences.</li>
                <li>Since all development work was new for each project, all work was required to go through <span class="highlight-pru">time-consuming ADA reviews</span>.</li>
              </ul>
              <h3 class="h4 font-weight-bold mt-content text-primary font-open-sans">Strategy</h3>
              <h4 class="h5 font-weight-bold font-open-sans">Atomic Design Structure</h4>
              <p>Our system needed to establish consistency, but leave room for individual flexibility and customization, due to the large scope of projects under its influence. By following the <a href="https://atomicdesign.bradfrost.com/" target="_blank">atomic design</a> framework, we created components that could build on top of each other like puzzle pieces to a larger goal.</p>
              <figure class="project__img-wrapper">
                <picture>
                  <source srcset="./assets/evolution-atomic.jpg" media="(min-width: 992px)">
                  <img class="project__img" src="./assets/evolution-atomic-mobile.jpg" alt="Atomic design diagram for Evolution Design System" loading="lazy">
                </picture>
              </figure>
              <h4 class="h5 font-weight-bold mt-content font-open-sans">Contribution Process</h4>
              <p>For current teams, two of the most time consuming steps in any development process were design review and ADA review. We wanted to ensure that <span class="highlight-pru">any component in the library is design and ADA approved</span>, before being available.</p>
              <p>I facilitated conversations with the design and ADA teams, and the development process was ready to be implemented before any development work began.</p>
              <figure class="project__img-wrapper">
                <picture>
                  <img class="project__img" src="./assets/evolution-process.jpg" alt="Contribution to design system diagram showing design and ada review required" loading="lazy">
                </picture>
                <figcaption class="text-sm">Design to development workflow to add a new component to the design system.</figcaption>
              </figure>
              <h5 class="text-lg text-primary font-open-sans font-weight-bold mt-4">Design Feasibility Review</h5>
              <p>First, while the component is still being designed, a meeting is held with both a UI devloper and a member of the ADA team. The potential designs are evaluated for both development feasibility, and ADA compliance before any development begins.</p>
              <h5 class="text-lg text-primary mt-content font-open-sans font-weight-bold">Visual QA</h5>
              <p>The developer and designer review the developer's work and compare it against the original designs. All changes are finalized before ADA review to ensure the ADA team is reviewing the final version of the component.</p>
              <h5 class="text-lg text-primary mt-content font-open-sans font-weight-bold">ADA Review</h5>
              <p>The component is fully tested by the ADA team, and must be WCAG 2.1 AA compliant before moving forward. The developed works directly with the ADA professional to address any feedback.</p>
              <h3 class="h4 font-weight-bold mt-content text-primary font-open-sans">Implementation</h3>
              <h4 class="h5 font-weight-bold font-open-sans">Style Library</h4>
              <p>We first built the foundation of the design system as a custom CSS style library. Its goal is to encapsulate all of the base level styles and variables that the rest of the system is built upon.</p>
              <p>Alongside fellow CSS guru Andrei Ivanov, we co-created the library and chose to base it off Twitter's <a href="https://getbootstrap.com/" target="_blank">Boostrap</a> framework. This gave us the greatest <span class="highlight-pru">flexibility with variables, utilities, and grid structure</span>. Most importantly, it was similar to our last custom CSS library so this would <span class="highlight-pru">reduce the learning curve</span> for the numerous other development teams.</p>
              <h4 class="h5 font-weight-bold mt-content font-open-sans">Web Components</h4>
              <p>To build on top of our style library our design system was <span class="highlight-pru">built using W3C standard web components</span>. This choice allowed us to accomplish two important goals...</p>
              <ul>
                <li>Ensure consistency in styles and functionality across any project</li>
                <li>Support any front end framework</li>
              </ul>
              <p>It also improved the flexibility when teams used the component, as making small changes could give a wide array of customization options for each component. For example, just changing two attributes on our button component, color style and icon, could produce all of the button types seen below.</p>
              <figure class="project__img-wrapper">
                <picture>
                  <source srcset="./assets/evolution-wc.jpg" media="(min-width: 992px)">
                  <img class="project__img" src="./assets/evolution-wc-mobile.jpg" alt="Contribution to design system diagram showing design and ada review required" loading="lazy">
                </picture>
              </figure>
              <h4 class="h5 font-weight-bold mt-content font-open-sans">Documentation</h4>
              <p>Finally, we created an extensive documentation ecosystem that ensures all users of the design system, from designs to developers to product owners, can understand its purpose, and how to properly use it. <span class="highlight-pru">Our documentation included an XD component library, Zero Height design guidelines, and Storybook development documentation.</span></p>
              <p>For the storybook documentation, I created a system for documenting our components that reduced the amount of time developers would need to reach out to us directly with questions.</p>
              <p>By listening to their feedback on the initial documentation, and observing what questions were commonly coming to us, I helped our small team of 6 save time. This will be even more important as the usage of the design system grows from 20 teams currently to company wide next year.</p>
              <h3 class="h4 font-weight-bold mt-content text-primary font-open-sans">Adoption</h3>
              <h4 class="h5 font-weight-bold font-open-sans">Initial Launch</h4>
              <p>The first project to launch using the new design system was the Prudential.com homepage. It was a great test of the system's cohesion, as the entire page was built using only the new system. Overall, the page was a success as it greatly improved the ease of doing business (EODB) scores and is what led to the design system gaining future adoption across other projects.</p>
              <figure class="project__img-wrapper">
                <picture>
                  <source srcset="./assets/evolution-new-home.jpg" media="(min-width: 992px)">
                  <img class="project__img project__img-bordered" src="./assets/evolution-new-home-mobile.jpg" alt="New Prudential.com homepage" loading="lazy">
                </picture>
                <figcaption class="text-sm">New Prudential.com homepage. The first project under the new design system.</figcaption>
              </figure>
              <h4 class="h5 font-weight-bold mt-content font-open-sans">Marketing</h4>
              <p>We knew the design system should be adopted company wide from the start, but one thing we wanted to do was come from a place of benefit not requirement for people. We wanted to focus on the benefits of the system, not have it seen as another hurdle.</p>
              <p>Once the system launched, we went around to teams and showed them how it worked. I would talk with designers and developers and focus on showing the ease of use and the flexibility. In one such talk, we presented the system at our first internal design conference.</p>
              <figure class="project__img-wrapper">
                <picture>
                  <img class="project__img project__img-bordered" src="./assets/evolution-conference.jpg" alt="Conference intro slide with title Playbook Evolution launch and 4 speakers" loading="lazy">
                </picture>
              </figure>
              <h4 class="h5 font-weight-bold mt-content font-open-sans">Workshops</h4>
              <p>To help increase adoption we started leading various workshops and office hours to assist designers and developers to learn the new system and its benefits. These talks and offline 1 on 1 assistance <span class="highlight-pru">helped teams see the benefits of adoption, and have faith that our team would be something they could rely on</span>.</p>
              <p>We also tried to brand our team as company leaders in the whole design development workflow. <span class="pru-highlight">I led several workshops on how to improve design and developer communication.</span> Using the design system as a tool, I highlighted where the common pitfalls are in that communication and how they can be avoided.</p>
            </div>
            <div class="project__section">
              <h2 class="project__anchor text-primary" id="key-deliverables">Key Deliverables</h2>
              <h3 class="h4 font-weight-bold mt-content text-primary font-open-sans">CSS Style Library</h3>
              <ul>
                <li>A Sass/CSS style library to establish foundational design system styles related to typography, color, grid structure, animation, etc.</li>
                <li>A Sass tokenization structure that ensured consistency while increasing flexibility in each component</li>
              </ul>
              <h3 class="h4 font-weight-bold mt-content text-primary font-open-sans">Web Component Library</h3>
              <ul>
                <li>Over 100 UI components from buttons to forms to navigation</li>
                <li>100% ADA compliance for each component</li>
                <li>Complete style encapsulation using shadowDOM</li>
              </ul>
            </div>
            <div class="project__section">
              <h2 class="project__anchor text-primary" id="takeaways">Takeaways</h2>
              <h3 class="h4 font-weight-bold mt-content text-primary font-open-sans">Outcomes</h3>
              <ul>
                <li>Created the first global design system at Prudential of over 100 components to date</li>
                <li>Obtained 100% ADA compliance on every style and component</li>
                <li>Increased efficiency for both designers and developers</li>
                <li>Have over 200 designers and developers currently using the design system</li>
              </ul>
              <h3 class="h4 font-weight-bold mt-content text-primary font-open-sans">Learnings</h3>
              <h4 class="h5 font-weight-bold mt-content font-open-sans">Importance of Support and Adoption</h4>
              <p>A design system is only as successful as the support of those asked to use it. Buy in from senior leadership, and the designers and developers asked to use it is crucial. The first job should be to meet the needs of those who need it, not hinder their work.</p>
              <h4 class="h5 font-weight-bold mt-content font-open-sans">Flexibility vs. Conformity</h4>
              <p>A design system needs to find the right balance between establishing rules to follow and a system that shows conformity across projects. However, design will always move forward and push boundaries. Your system needs to be rigid enough to show a common design language, but flexible enough to give designers the space to explore new and improved ideas.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container bg-white position-relative">
        <div class="bg-lines">
          <div class="line line-primary line-top line-left"></div>
          <div class="line line-primary line-top line-center"></div>
          <div class="line line-primary line-top line-right"></div>
        </div>
        <div class="row py-7">
          <div class="col d-flex align-items-cetner justify-content-center">
            <svg class="text-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.55 62.78" style="background-color: #fff;">
              <path id="text-circle" fill="none" d="M.13 62.78a62.64 62.64 0 1 1 125.29 0"/>
              <text aria-hidden="true" dx="-6">
                <textPath href="#text-circle">Other Projects</textPath>
              </text>
            </svg>
            <h2 class="sr-only">Other Projects</h2>
          </div>
        </div>
        <div class="row pb-6">
          <div class="col-md-5 col-12 pb-6 pb-md-0">
            {{> partials/project-card-migration}}
          </div>
          <div class="col-md-5 offset-md-2 offset-0 col-12">
            {{> partials/project-card-workshop}}
          </div>
        </div>
      </div>
      {{> partials/footer}}
    </div>
    {{> partials/scripts}}
    <script src="./project-detail.js"></script>
    <script src="./evolution.js"></script>
  </body>
</html>