<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="{{page.author}}">
    <meta name="keywords" content="{{migration.keywords}}">
    <meta name="{{migration.name}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{page.favicon}}" type="image/png" sizes="16x16">
    <title>{{migration.title}}</title>
    {{> partials/head}}
  </head>

  <body>
    <div class="page-wrapper theme-migration">
      {{> partials/navigation}}
      <div class="container bg-white">
        <div class="row py-7">
          <div class="col-lg-7 col-12 pb-lg-0 pb-6 pr-lg-4 pr-0">
            <h1 class="project__title text-primary mb-2">Prudential Site Migration</h1>
            <span class="h4 font-weight-light text-primary d-block mb-2">Prudential + Deloitte</span>
            <span class="text-lg font-weight-bold d-block mb-5">June 2022 - May 2023</span>
            <p class="text-lg">How do you redesign over 800 pages, leverage a <a href="./evolution">new design system</a>, and move the entire web platform to a new content management system (CMS)?.</p>
            <p class="text-lg mb-4">As the sole design system representative in this multi-team project, which also included Deloitte partners, I led the integration of the design system into this new platform.</p>
            <a class="btn-pill-lg d-inline-block" href="https://www.prudential.com/personal/investments/investing-with-advisors" target="blank">View example page</a>
          </div>
          <div class="col-lg-5 col-12">
            <div class="project__info-box">
              <div class="project__info-box__detail pb-3 d-flex flex-column">
                <span class="detail-title mb-1">My Role</span>
                <ul class="list-unstyled">
                    <li class="detail-item">UI development</li>
                    <li class="detail-item">UX/UI QA</li>
                  </ul>
              </div>
              <div class="d-flex flex-sm-row flex-column">
                <div class="project__info-box__detail mb-3 mb-sm-0 mr-0 mr-3">
                  <span class="detail-title mb-1">Toolkit / Approach</span>
                  <ul class="list-unstyled">
                    <li class="detail-item">Adobe Expierience Manager</li>
                    <li class="detail-item">W3C Web Components</li>
                  </ul>
                </div>
                <div class="project__info-box__detail">
                  <span class="detail-title mb-1">Team</span>
                  <ul class="list-unstyled">
                    <li class="detail-item">Becca Lisoski</li>
                    <li class="detail-item">Stephanie Marca</li>
                    <li class="detail-item">Navanita Sharma</li>
                    <li class="detail-item">Elisa Schur</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container bg-gray-light">
        <div class="row pt-6 pb-6">
          <div class="col d-flex align-items-center justify-content-center">
            <img class="project__img" alt="Layout of buttons, cards, typography, colors for new design system" src="./assets/migration-header.jpg" loading="lazy">
          </div>
        </div>
      </div>
      <div class="container bg-white">
        <div class="row py-6 gx-md-lg gx-md">
          <div class="col-2 d-md-block d-none">
            <ul class="project__tracker list-unstyled">
              <li class="tracker-step"><a href="#background">Background</a></li>
              <li class="tracker-step"><a href="#process">Process</a></li>
              <li class="tracker-step"><a href="#outcomes">Outcomes</a></li>
              <li class="tracker-step"><a href="#learnings">Learnings</a></li>
            </ul>
          </div>
          <div class="col-md-8 col-12">
            <div class="project__section">
              <h2 class="project__anchor text-primary" id="background">Background</h2>
              <p class="text-lg">After the initial migration of the Prudential.com homepage to a new Evolution Design System, that still left over 800 pages that were in need of a redesign to align with the new design system.</p>
              <p class="text-lg">At the same time the CMS these pages were built on was being deprecated. Deloitte was brought in as a partner to move the pages to a new Adobe Experience Manager (AEM) CMS.</p>
              <h3 class="h4 font-weight-bold mt-content text-primary font-open-sans">Problem</h3>
              <p class="text-xl">800+ pages using an outdated CMS, dated and inconsistent designs, and not aligned with the new Evolution Design System.</p>
              <h3 class="h4 font-weight-bold mt-content text-primary font-open-sans">Goal</h3>
              <p class="text-xl">Simultaneously move all pages to a new CMS, and use the Evolution Design System components to create a consistent experience across all of Prudential.com.</p>
              <h3 class="h4 font-weight-bold mt-content text-primary font-open-sans mb-4">My Role</h3>
              <div class="content-points row gx-3">
                <div class="col-lg-4 col-12">
                  <div class="content-points__item">
                    <span class="text-lg">Review component mappings of old pages to new components from UX team</span>
                  </div>
                </div>
                <div class="col-lg-4 col-12">
                  <div class="content-points__item">
                    <span class="text-lg">Develop and manage the usage of new components</span>
                  </div>
                </div>
                <div class="col-lg-4 col-12">
                  <div class="content-points__item">
                    <span class="text-lg">Conduct UI development review of migrated pages from Deloitte team</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="project__section">
              <h2 class="project__anchor text-primary" id="process">Process</h2>
              <h3 class="h4 font-weight-bold font-open-sans text-primary mt-content">Legacy Audit</h3>
              <p class="text-xl">Audit a portion of legacy pages to find common elements. Map those elements to existing design system components. See what gaps exist where elements can not be mapped.</p>
              <p class="text-spotlight">What I did: Assist the UX team, by finding existing componetns to use, and planning out work for any new components.</p>
              <figure class="project__img-wrapper">
                <picture>
                  <img class="project__img" src="./assets/migration-offer-banner.jpg" alt="old and new offer banner components" loading="lazy">
                </picture>
              </figure>
              <figure class="project__img-wrapper">
                <picture>
                  <img class="project__img" src="./assets/migration-promo-breaker.jpg" alt="Side by side of old and new promo breaker components" loading="lazy">
                </picture>
              </figure>
              <h3 class="h4 font-weight-bold font-open-sans text-primary mt-content">New Design System Components</h3>
              <p class="text-xl">Create new design system components to fill needs for elements found in audit.</p>
              <p class="text-spotlight">What I did: UI development of the new components with full ADA compliance. Coordination of additional development resourcing from my team with timelines required from Deloitte dev team.</p>
              <figure class="project__img-wrapper">
                <picture>
                  <img class="project__img" src="./assets/migration-hero.jpg" alt="Side by side of old and new hero components" loading="lazy">
                </picture>
              </figure>
              <h3 class="h4 font-weight-bold font-open-sans text-primary mt-content">Component Mapping</h3>
              <p class="text-xl">With existing and newly developed design system components, map a page's content to new components to be used when migrated</p>
              <p class="text-spotlight">What I did: Review components mappings done by UX team. Provide suggestions for components to use. Call out when a mapping would not be achievable.</p>
              <figure class="project__img-wrapper">
                <picture>
                  <img class="project__img" src="./assets/migration-component-map.jpg" alt="Example of a page component mapping exercise. The old page is shown with arrows mapping each section to a new design system component." loading="lazy">
                </picture>
              </figure>
              <h3 class="h4 font-weight-bold font-open-sans text-primary mt-content">UI QA Review</h3>
              <p class="text-xl">Once pages had been migrated by Deloitte they require UI review to ensure they are authored and developed correctly</p>
              <p class="text-spotlight">What I did: Review the pages and components built by Deloitte. With over 20 different authors, common mistakes occured frequently. I coordinated how to resolve these issues across the whole group.</p>
            </div>
            <div class="project__section">
              <h2 class="project__anchor text-primary" id="outcomes">Outcomes</h2>
              <ul class="text-xl">
                <li>First site launch of a fortune 50 company in 6 years</li>
                <li>800+ pages updated to use the new design system</li>
                <li>13 new components created in the design system</li>
                <li>21 components from the design system used in production for the first time</li>
              </ul>
            </div>
            <div class="project__section">
              <h2 class="project__anchor text-primary" id="learnings">Learnings</h2>
              <ul class="text-lg">
                <li><p><span class="highlight-migration">Working with a 3rd party consultant requires constant communication and alignment.</span> You have to be equals, you can’t act like they’re doing a service for you, and they can’t act like they are the subject matter experts over you.</p></li>
                <li><p>With massive long term projects, <span class="highlight-migration">allocating additional time for background reseach saves time in execution</span>. Understanding all of the requirements, old tech and design pitfalls, past knowledge, and establishing a working relationship are critical before the project start. Cutting down on this in the beginning will just lead to miscommunications, pitfalls, and extended timelines in the end.</p></li>
                <li><p><span class="highlight-migration">No migration of this scale is going to be perfect.</span> It’s about knowing where you can put your effort to get the most value, and thoroughly documenting those places to improve post migration.</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container bg-white position-relative">
        <div class="bg-lines">
          <div class="line line-primary line-top line-left"></div>
          <div class="line line-primary line-top line-center"></div>
          <div class="line line-primary line-top line-right"></div>
        </div>
        <div class="row py-7">
          <div class="col d-flex align-items-cetner justify-content-center">
            <svg class="text-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.55 62.78" style="background-color: #fff;">
              <path id="text-circle" fill="none" d="M.13 62.78a62.64 62.64 0 1 1 125.29 0"/>
              <text aria-hidden="true" dx="-6">
                <textPath href="#text-circle">Other Projects</textPath>
              </text>
            </svg>
            <h2 class="sr-only">Other Projects</h2>
          </div>
        </div>
        <div class="row pb-6">
          <div class="col-md-5 col-12 pb-6 pb-md-0">
            {{> partials/project-card-evolution}}
          </div>
          <div class="col-md-5 offset-md-2 offset-0 col-12">
            {{> partials/project-card-workshop}}
          </div>
        </div>
      </div>
      {{> partials/footer}}
    </div>
    {{> partials/scripts}}
    <script src="./project-detail.js"></script>
    <script src="./migration.js"></script>
  </body>
</html>