<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="{{page.author}}">
    <meta name="keywords" content="{{workshop.keywords}}">
    <meta name="{{workshop.name}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{page.favicon}}" type="image/png" sizes="16x16">
    <title>{{workshop.title}}</title>
    {{> partials/head}}
  </head>

  <body>
    <div class="page-wrapper theme-workshop">
      {{> partials/navigation}}
      <div class="container bg-white">
        <div class="row py-7">
          <div class="col-lg-7 col-12 pb-lg-0 pb-6 pr-lg-4 pr-0">
            <h1 class="project__title text-primary mb-2">Designer & Developer Workshops</h1>
            <span class="h4 font-weight-light text-primary d-block mb-2">Prudential</span>
            <span class="text-lg font-weight-bold d-block mb-5">November 2021 - Present</span>
            <p class="text-lg">The Design Systems team plays a unique role within any organization. They have a level of expertise in both design and development. They can see how the relationship between the two plays out in real time.</p>
            <p class="text-lg">For years our team had been the defacto link between designers and developers. We would assist both in how to work better with each other, but how could we use our <a href="./evolution.hbs">new design system</a> to truly improve how both worked together?</p>
          </div>
          <div class="col-lg-5 col-12">
            <div class="project__info-box">
              <div class="project__info-box__detail pb-3 d-flex flex-column">
                <span class="detail-title mb-1">My Role</span>
                <ul class="list-unstyled">
                    <li class="detail-item">Workshop facilitation</li>
                    <li class="detail-item">UI development</li>
                    <li class="detail-item">UI design</li>
                  </ul>
              </div>
              <div class="d-flex flex-sm-row flex-column">
                <div class="project__info-box__detail mb-3 mb-sm-0 mr-0 mr-3">
                  <span class="detail-title mb-1">Toolkit / Approach</span>
                  <ul class="list-unstyled">
                    <li class="detail-item">JIRA</li>
                    <li class="detail-item">CSS best practices</li>
                    <li class="detail-item">Adobe XD</li>
                    <li class="detail-item">Storybook</li>
                  </ul>
                </div>
                <div class="project__info-box__detail">
                  <span class="detail-title mb-1">Team</span>
                  <ul class="list-unstyled">
                    <li class="detail-item">Chris Alexander</li>
                    <li class="detail-item">Andrei Ivanov</li>
                    <li class="detail-item">Antonio James</li>
                    <li class="detail-item">Joon Yi</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container bg-gray-light">
        <div class="row pt-6 pb-6">
          <div class="col d-flex align-items-center justify-content-center">
            <img class="project__img" alt="Layout of buttons, cards, typography, colors for new design system" src="./assets/workshop-header.png" loading="lazy">
          </div>
        </div>
      </div>
      <div class="container bg-white">
        <div class="row py-6 gx-md-lg gx-md">
          <div class="col-2 d-md-block d-none">
            <ul class="project__tracker list-unstyled">
              <li class="tracker-step"><a href="#background">Background</a></li>
              <li class="tracker-step"><a href="#process">Process</a></li>
              <li class="tracker-step"><a href="#outcomes">Outcomes</a></li>
              <li class="tracker-step"><a href="#learnings">Learnings</a></li>
            </ul>
          </div>
          <div class="col-md-8 col-12">
            <div class="project__section">
              <h2 class="project__anchor text-primary" id="background">Background</h2>
              <p>At Prudential, the <span class="highlight-workshop">relationships between designers and developers were prone to misunderstandings</span>. Whether in prototypes provided by designers or pages built by developers, there were always some issues to iron out.</p>
              <p>The launch of the new Evolution Design System gave the DS team an opportunity to help create understandings and more effective communication between the two groups and leadership.</p>
              <h3 class="h4 font-weight-bold mt-content text-primary font-open-sans">Problem</h3>
              <ul class="text-xl">
                <li>Discrepancies between UX prototypes and final developed pages for various projects</li>
                <li>Lack of involvement for developers in initial design process</li>
                <li>Lack of communication between designs are developers on expectations and constraints</li>
              </ul>
              <h3 class="h4 font-weight-bold mt-content text-primary font-open-sans">Goal</h3>
              <p class="text-xl">Improve the quality and efficiency of the workflow between designers and developers, by creating a culture of transparency and communication.</p>
              <h3 class="h4 font-weight-bold mt-content text-primary font-open-sans">My Role</h3>
              <div class="content-points row gx-3">
                <div class="col-lg-4 col-12">
                  <div class="content-points__item">
                    <span class="text-lg">Provide 1 on 1 assistance to designers and developers</span>
                  </div>
                </div>
                <div class="col-lg-4 col-12">
                  <div class="content-points__item">
                    <span class="text-lg">Lead workshops on the design/dev hand-off process</span>
                  </div>
                </div>
                <div class="col-lg-4 col-12">
                  <div class="content-points__item">
                    <span class="text-lg">Research common pitfalls and how the design system could solve them</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="project__section">
              <h2 class="project__anchor text-primary" id="process">Process</h2>
              <h3 class="h4 font-weight-bold font-open-sans text-primary mt-content">Discovery</h3>
              <p class="text-xl">Compile examples of common issues that come up in designer developer hand-off. Find the source of the issue, and ways to prevent it from happening.</p>
              <h3 class="h4 font-weight-bold font-open-sans text-primary mt-content">Actions</h3>
              <h4 class="h5 font-weight-bold font-open-sans text-primary mt-content">Workshops</h4>
              <p class="text-lg">As a trusted group in both design and development we used the position of the design system to lead workshops with groups of developers and designers. On an ad-hoc basis we would set up small group meetings with dev or design teams.</p>
              <figure class="project__img-wrapper">
                <picture>
                  <img class="project__img" src="./assets/workshop-header.png" alt="Venn diagram with designers on one side and developers on the other. Items inside are instructions for each side." loading="lazy">
                </picture>
                <figcaption class="text-sm">Miro board used during workshops</figcaption>
              </figure>
              <p class="text-lg mt-6">With designers, I discussed how developers thought throught problems, and what their mindsets were. This lead into a guide on how to clean up their prototypes in the hand-off process.</p>
              <figure class="project__img-wrapper">
                <picture>
                  <img class="project__img project__img-bordered" src="./assets/workshop-design.jpg" alt="design prototype showing a spacing of 47px between a hero and a header" loading="lazy">
                </picture>
                <figcaption class="text-sm">Prototypes could be shared with spacing values not present in the design system. The developers would not know if this was intentional, or a mistake.</figcaption>
              </figure>
              <p class="text-lg mt-6">With developers, I focused on trying to reframe their relationships with designers. I pushed them to bring up questions they had more often, and gave them the trust that designers wanted them to be more vocal about things they saw.</p>
              <figure class="project__img-wrapper">
                <picture>
                  <img class="project__img project__img-bordered" src="./assets/workshop-dev.jpg" alt="design prototype showing the CSS code generated by Adobe XD" loading="lazy">
                </picture>
                <figcaption class="text-sm">The CSS panel in Adobe XD provides code that is not needed, but developers were using it anyway to style their pages.</figcaption>
              </figure>
              <h4 class="h5 font-weight-bold font-open-sans text-primary mt-6">Design + Dev QA Assistance</h4>
              <p class="text-xl">Be involved directly with a designer in the review of a developers work. Help the developer understand what needs to be changed, and give them the easiest way to use the design system to achieve the needed fixes.</p>
            </div>
            <div class="project__section">
              <h2 class="project__anchor text-primary" id="outcomes">Outcomes</h2>
              <ul class="text-xl">
                <li>Design prototypes that more effectively propvide developers the information they need</li>
                <li>Increased communication between designers and developers at all phases of a project</li>
                <li>Establishing the design system team as a source of knowledge on designer-developer hand-off</li>
              </ul>
            </div>
            <div class="project__section">
              <h2 class="project__anchor text-primary" id="learnings">Learnings</h2>
              <ul>
                <li><p>Issues that occur between designers and developers are usually due to <span class="highlight-workshop"> a lack of understanding and communication</span> between the two sides. The more closely the two work together both in the design phase and the development phase, the more efficiently the process will go.</p></li>
                <li><p>A design system team’s role isn’t only to establish rules for designers and developers to follow. It has to <span class="highlight-workshop">make their jobs easier, and help them work with each other</span>.</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container bg-white position-relative">
        <div class="bg-lines">
          <div class="line line-primary line-top line-left"></div>
          <div class="line line-primary line-top line-center"></div>
          <div class="line line-primary line-top line-right"></div>
        </div>
        <div class="row py-7">
          <div class="col d-flex align-items-cetner justify-content-center">
            <svg class="text-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.55 62.78" style="background-color: #fff;">
              <path id="text-circle" fill="none" d="M.13 62.78a62.64 62.64 0 1 1 125.29 0"/>
              <text aria-hidden="true" dx="-6">
                <textPath href="#text-circle">Other Projects</textPath>
              </text>
            </svg>
            <h2 class="sr-only">Other Projects</h2>
          </div>
        </div>
        <div class="row pb-6">
          <div class="col-md-5 col-12 pb-6 pb-md-0">
            {{> partials/project-card-evolution}}
          </div>
          <div class="col-md-5 offset-md-2 offset-0 col-12">
            {{> partials/project-card-migration}}
          </div>
        </div>
      </div>
      {{> partials/footer}}
    </div>
    {{> partials/scripts}}
    <script src="./project-detail.js"></script>
    <script src="./migration.js"></script>
  </body>
</html>